.row.query
  .col-sm-3
    = f.input :field,  label: false, collection: Query::FIELDS.invert,  include_blank: false
  .col-sm-3
    .string-method.hide
      = f.input :method, label: false, collection: Query::STRING_METHODS.invert,   include_blank: false
    .number-method.hide
      = f.input :method, label: false, collection: Query::NUMBER_METHODS.invert,   include_blank: false
    .datetime-method.hide
      = f.input :method, label: false, collection: Query::DATETIME_METHODS.invert, include_blank: false
  .col-sm-6
    .equal-value.hide
      = f.input :value,  label: false
    .range-value.hide
      .row
        .col-sm-5
          = f.input :min_value, label: false
        .col-sm-2
          %span.query-and AND
        .col-sm-5
          = f.input :max_value, label: false

    = link_to_remove_association f, wrapper_class: 'query' do
      %i.fa.fa-times
