= simple_form_for [bot, notification] do |f|
  = f.input :content, input_html: { rows: 10 }, label: 'Message', placeholder: 'e.g. We are proud to announce a new feature...'

  - notification.bot_user_ids.each do |bot_user_id|
    = f.input :bot_user_ids, as: :hidden, input_html: { name: 'notification[bot_user_ids][]', value: bot_user_id }

  .scheduler-toggle
    = link_to '#scheduler-options', { role: 'button', data: { toggle: 'collapse' }, 'aria-expanded' => 'false', 'aria-controls' => 'scheduler-options' } do
      %i.fa.fa-clock-o
      Scheduling Options

  #scheduler-options.collapse
    .well
      .row
        .col-sm-6
          = f.input :scheduled_at, input_html: { disabled: 'disabled' }

        .col-sm-12
          = link_to '#', class: 'clear-scheduler' do
            %i.fa.fa-times
            Clear Scheduling Options

  - count = notification.bot_user_ids.size
  = f.submit "Send Notification to #{pluralize(count, 'User')}", data: { confirm: "Sure? This message will be going out to #{pluralize(count, 'User')}.", disable: 'Processing' }

- content_for :page_scripts do
  :javascript
    App.page = new App.NotificationScheduler();
    App.page.run();
