.secondary-menu.row
  .col-md-4.col-sm-4.col-xs-4
    %h2 My Profile

.row
  .col-md-6
    %h3 My API Key
    %p
      This is the API key you should use to register new instances of your bot.
    %pre.pre-scrollable= @user.api_key
    = simple_form_for @user, url: regenerate_api_key_user_path(@user), method: :patch do |f|
      = f.submit 'Regenerate API Key', data: { disable: 'Regenerating' }

%hr

.row
  .col-md-6
    %h3 Email Preferences
    = simple_form_for @user, url: user_path(@user), method: :patch do |f|

      = f.input :created_bot_instance, as: :boolean, wrapper: :vertical_boolean,
          label: 'Receive alerts when a new bot instance is created?',
          value: @user.created_bot_instance

      = f.input :disabled_bot_instance, as: :boolean, wrapper: :vertical_boolean,
          label: 'Receive alerts when a bot instance is disabled?',
          value: @user.disabled_bot_instance

      = f.submit 'Save', data: { disable: 'Saving' }
