- if @weekly_dashboarders
  %h2
    Your Weekly Summary - Week starting from
    = (Time.current.in_time_zone(@user.timezone) - 7.days).strftime('%b %d, %Y')
    (Last Week)

  - @weekly_dashboarders.each do |bot|
    %h3= bot.name
    = render 'dashboard_stats', bot: bot, group_by: 'this-week'
    %hr

%br

%h2
  Your Daily Summary -
  = (Time.current.in_time_zone(@user.timezone) - 1.day).strftime('%b %d, %Y')
  (Yesterday)

- @daily_dashboarders.each do |bot|
  %h3= bot.name
  = render 'dashboard_stats', bot: bot, group_by: 'today'
  %hr

%p
  You can update your email preferences on #{link_to 'your botmetrics profile page', user_url(:me)}.
