%h3.api cURL
%p.api
  You can add more instances to your bot via an HTTP API:
%pre.api.pre-scrollable
  :preserve
    curl -X POST \
    -H "Authorization: #{current_user.api_key}" \
    #{Settings.rails_host}/bots/#{@bot.uid}/instances \
    -d "format=json&instance[token]=my-bot-token"
%h3.api Ruby
%p.api
  You can also use the Rubygem
  %code botmetrics-rb
  available at
  = link_to 'botmetrics/botmetrics-rb', 'https://github.com/botmetrics/botmetrics-rb'
  Set the following environment variables in your app:
  %pre.api.pre-scrollable
    :preserve
      BOTMETRICS_BOT_ID=#{@bot.uid}
      BOTMETRICS_API_KEY=#{current_user.api_key}
%h3.api Node.JS
%p.api
  You can also use the NPM module
  %code botmetrics.js
  available at
  = link_to 'botmetrics/botmetrics.js', 'https://github.com/botmetrics/botmetrics.js'
  Set the following environment variables in your app:
  %pre.api.pre-scrollable
    :preserve
      BOTMETRICS_BOT_ID=#{@bot.uid}
      BOTMETRICS_API_KEY=#{current_user.api_key}
%p.api
  and follow along the
  = link_to 'README', 'https://github.com/botmetrics/botmetrics-rb'
  for the rest of the instructions.



