.secondary-menu.row
  .col-md-4.col-sm-4.col-xs-4
    %h2 Settings

.row
  .col-md-6
    = simple_form_for [@bot], url: bot_path(@bot), method: :patch do |f|
      = f.input :name, label: "Your Bot's Name", required: true
      = f.input :webhook_url, label: webhook_label(@bot)

      = f.submit 'Save'

    %h2.api API
    = render partial: 'api'
