.secondary-menu.row
  .col-md-4.col-sm-4.col-xs-4
    %h2 Settings

.row
  .col-md-6
    = simple_form_for [@bot], url: bot_path(@bot), method: :patch do |f|
      = f.input :name, label: "Your Bot's Name", required: true
      - if @bot.webhooks_enabled?
        = f.input :webhook_url, label: webhook_label(@bot)
        %span.small.help-block
          - if @bot.webhook_events.count > 0
            = link_to "View Events", webhook_events_bot_path(@bot)

      = f.submit 'Save'

    %h2.teams Team
    %hr
      %ul
        - @bot.bot_collaborators.joins(:user).each do |bc|
          - user = bc.user
          %li
            = mail_to user.email, user.full_name
            - if current_user == user
              %span (That's you!)
            - if bc.confirmed_at.nil?
              %span (not accepted yet)

      = link_to 'Invite Team Member', new_user_invitation_path, class: 'btn btn-success invite-teammember'
      .add-teammember
        = simple_form_for User.new, as: :invite, url: user_invitation_path, method: :post do |f|
          = f.input :full_name, label: "Your New Team Member's Full Name", required: true
          = f.input :email, label: "Your New Team Member's Email", required: true
          = f.input :timezone, required: true, label: "Your New Team Member's Timezone", as: :time_zone, default: current_user.timezone
          = f.input :bot_id, required: true, input_html: { value: @bot.uid }, as: :hidden
          = f.submit 'Invite Team Member'

    %h2.api How To Integrate
    %hr
    - if @bot.provider == 'slack'
      = render partial: 'api_slack'
    - else
      %p.status
        Set up tracking in your bot application by adding this snippet of code:
      = render partial: 'api_others'

- content_for :page_scripts do
  :javascript
    App.page = new App.BotsEdit();
    App.page.run();
