.secondary-menu.row
  .col-md-3.col-sm-3.col-xs-6
    #report-range
      %i.fa.fa-calendar
      %span
      %b.caret
  .col-md-9.col-sm-9.col-xs-6.text-right
    .btn-group.time-segmented-controls
      = link_to 'Day', new_bots_team_bot_path(@team, @bot), class: (@group_by == 'day' ? 'btn active' : 'btn'), data: { group: 'day' }
      = link_to 'Week', new_bots_team_bot_path(@team, @bot, group_by: 'week'), class: (@group_by == 'week' ? 'btn active' : 'btn'), data: { group: 'week' }
      = link_to 'Month', new_bots_team_bot_path(@team, @bot, group_by: 'month'), class: (@group_by == 'month' ? 'btn active' : 'btn'), data: { group: 'month' }
.graph.row
  .col-md-8.col-md-offset-2
    = line_chart @new_bots, solo_chartjs_opts

- content_for :page_scripts do
  :javascript
    App.page = new App.BotsNewBots(#{@start.to_json}, #{@end.to_json});
    App.page.run();

