.secondary-menu.row
  .col-md-4.col-sm-4.col-xs-4
    = link_to edit_team_bot_path(@team, @bot), class: 'btn btn-lg btn-success btn-settings' do
      %i.fa.fa-cog
      Bot Settings
  .col-md-8.col-sm-8.col-xs-8.text-right
    .btn-group.time-segmented-controls
      = link_to 'Today', team_bot_path(@team, @bot), class: (@group_by == 'today' ? 'btn active' : 'btn')
      = link_to 'This Week', team_bot_path(@team, @bot, group_by: 'this-week'), class: (@group_by == 'this-week' ? 'btn active' : 'btn')
      = link_to 'This Month', team_bot_path(@team, @bot, group_by: 'this-month'), class: (@group_by == 'this-month' ? 'btn active' : 'btn')
      = link_to 'All Time', team_bot_path(@team, @bot, group_by: 'all-time'), class: (@group_by == 'all-time' ? 'btn active' : 'btn')

.stats.row
  .stat.col-sm-6.col-md-3
    %h3 New Bots
    %p.number= @all.count
  .stat.col-sm-6.col-md-3
    %h3 Bots Disabled
    %p.number= @disabled.count
  .stat.col-sm-6.col-md-3
    %h3 New Users
    %p.number= @members.count
  .stat.col-sm-6.col-md-3
    %h3 Messages
    %p.number= @messages.count
  .stat.col-sm-6.col-md-3
    %h3 Messages To Your Bot
    %p.number= @messages_for_bot.count
  .stat.col-sm-6.col-md-3
    %h3 Messages From Your Bot
    %p.number= @messages_from_bot.count
