.row.query
  = f.input :provider, as: :hidden

  .col-sm-3
    = f.input :field,  label: false, collection: f.object.fields.invert,  include_blank: false
  .col-sm-3
    .string-method.hide
      = f.input :method, label: false, collection: f.object.string_methods.invert,   include_blank: false
    .number-method.hide
      = f.input :method, label: false, collection: f.object.number_methods.invert,   include_blank: false
    .datetime-method.hide
      = f.input :method, label: false, collection: f.object.datetime_methods.invert, include_blank: false
  .col-sm-6
    .equal-value.hide
      = f.input :value,  label: false
    .range-value.hide
      .row
        .col-sm-5
          = f.input :min_value, label: false
        .col-sm-2
          %span.query-and AND
        .col-sm-5
          = f.input :max_value, label: false
    .ago-value.hide
      .row
        .col-sm-12
          .input-group
            = f.input_field :value, class: 'form-control'
            %span.input-group-addon days ago

    = link_to_remove_association f, wrapper_class: 'query' do
      = icon('times')
