- if dashboard.dashboard_type == 'bots-installed'
  = render 'table_bots_installed', tableized: dashboard.tableized
- elsif dashboard.dashboard_type == 'bots-uninstalled'
  = render 'table_bots_uninstalled', tableized: dashboard.tableized
- elsif dashboard.dashboard_type == 'new-users'
  = render "dashboards/providers/table_new_users_#{dashboard.provider}", tableized: dashboard.tableized
- elsif dashboard.dashboard_type == 'messages'
  = render 'table_all_messages', tableized: dashboard.tableized
- elsif dashboard.dashboard_type == 'messages-to-bot'
  = render "dashboards/providers/table_messages_to_from_bot_#{dashboard.provider}", tableized: dashboard.tableized
- elsif dashboard.dashboard_type == 'messages-from-bot'
  = render "dashboards/providers/table_messages_to_from_bot_#{dashboard.provider}", tableized: dashboard.tableized
