%table.table.table-striped.tableized
  %thead
    %tr
      %th Team
      %th URL
      %th Members
      %th Disabled
  %tbody
    - tableized.each do |b|
      - _url = b.instance_attributes['team_url']
      - _name = b.instance_attributes['team_name']
      %tr{class: b.id}
        %td= _name
        %td= _url.present? ? link_to(_url, _url) : ''
        %td= b.users_count
        %td= b.last_event_at.present? ? "#{time_ago_in_words(b.last_event_at)} ago" : 'no messages yet'

