.secondary-menu.row
  .col-md-4.col-sm-3.col-xs-6
    = link_to bot_path(@bot), class: 'breadcrumb' do
      %h2 All Metrics
    %span.breadcrumb-separator
      \/
    %h2 Bots Disabled
  .col-md-8.col-sm-9.col-xs-6
    #report-range.pull-right
      = icon('calendar')
      %span
      %b.caret
    .btn-group.time-segmented-controls.pull-right
      = link_to 'Day', disabled_bots_bot_dashboards_path(@bot), class: (@group_by == 'day' ? 'btn active' : 'btn'), data: { group: 'day' }
      = link_to 'Week', disabled_bots_bot_dashboards_path(@bot, group_by: 'week'), class: (@group_by == 'week' ? 'btn active' : 'btn'), data: { group: 'week' }
      = link_to 'Month', disabled_bots_bot_dashboards_path(@bot, group_by: 'month'), class: (@group_by == 'month' ? 'btn active' : 'btn'), data: { group: 'month' }

.container-fluid.graph-container
  .graph.row
    .col-md-12.col-sm-12.col-xs-12.graph-container
      = line_chart @events, solo_chartjs_opts

      %table.table.table-striped.tableized
        %thead
          %tr
            %th Team
            %th URL
            %th Members
            %th Disabled
        %tbody
          - @tableized.each do |b|
            - _url = b.instance_attributes['team_url']
            - _name = b.instance_attributes['team_name']
            %tr{class: b.id}
              %td= _name
              %td= _url.present? ? link_to(_url, _url) : ''
              %td= b.users_count
              %td= b.last_event_at.present? ? "#{time_ago_in_words(b.last_event_at)} ago" : 'no messages yet'

      = will_paginate @tableized, renderer: BootstrapPagination::Rails

- content_for :page_scripts do
  :javascript
    App.page = new App.BotsDetail(#{@start.to_json}, #{@end.to_json});
    App.page.run();
