.secondary-menu.row
  .col-md-4.col-sm-4.col-xs-4
    %h2 All Metrics
  .col-md-8.col-sm-8.col-xs-8.text-right
    .btn-group.time-segmented-controls
      = link_to 'Today', bot_dashboards_path(@bot), class: (@group_by == 'today' ? 'btn active' : 'btn')
      = link_to 'This Week', bot_dashboards_path(@bot, group_by: 'this-week'), class: (@group_by == 'this-week' ? 'btn active' : 'btn')
      = link_to 'This Month', bot_dashboards_path(@bot, group_by: 'this-month'), class: (@group_by == 'this-month' ? 'btn active' : 'btn')
      = link_to 'All Time', bot_dashboards_path(@bot, group_by: 'all-time'), class: (@group_by == 'all-time' ? 'btn active' : 'btn')

.stats.row
  - @dashboards.each do |dashboard|
    .stat.col-sm-6.col-md-3{class: dashboard.custom? ? 'custom' : '', id: "dashboard-#{dashboard.uid}", data: { ref: bot_dashboard_path(@bot, dashboard) }}
      - if dashboard.custom?
        = button_to bot_dashboard_path(@bot, dashboard), method: :delete, remote: true, class: 'delete-dashboard', data: { confirm: 'Are you sure you want to disable this dashboard?', disable_with: '...' } do
          %i.fa.fa-trash
      %h3= dashboard.name
      = formatted_growth(dashboard.growth)
      %p.number= number_with_delimiter(dashboard.count)
      - if @show_trends
        = line_chart dashboard.data, dashboard_chartjs_opts
  .stat.col-sm-6.col-md-3.new-dashboard{class: @group_by, data: { ref: new_bot_dashboard_path(@bot) }}
    %h3.text-center
      +
    %h4.text-center
      New Custom Dashboard

- content_for :page_scripts do
  :javascript
    App.page = new App.DashboardsIndex();
    App.page.run();
