.secondary-menu.row
  .col-md-4.col-sm-4.col-xs-4
    %h2 All Metrics
  .col-md-8.col-sm-8.col-xs-8.text-right
    .btn-group.time-segmented-controls
      = link_to 'Today', bot_dashboards_path(@bot), class: (@group_by == 'today' ? 'btn active' : 'btn')
      = link_to 'This Week', bot_dashboards_path(@bot, group_by: 'this-week'), class: (@group_by == 'this-week' ? 'btn active' : 'btn')
      = link_to 'This Month', bot_dashboards_path(@bot, group_by: 'this-month'), class: (@group_by == 'this-month' ? 'btn active' : 'btn')
      = link_to 'All Time', bot_dashboards_path(@bot, group_by: 'all-time'), class: (@group_by == 'all-time' ? 'btn active' : 'btn')

- if @bot.events.count == 0
  .row.integrate-cta.alert-danger
    %p
      We haven't received any events from your bot yet.
      Add the
      = link_to 'Botmetrics SDK', edit_bot_path(@bot), target: '_blank'
      to your codebase in less than 5 minutes!

.stats.row
  - @dashboards.each do |dashboard|
    = link_to bot_dashboard_path(@bot, dashboard) do
      .stat.col-sm-6.col-md-3
        %h3= dashboard.name
        = formatted_growth(dashboard.growth)
        %p.number= number_with_delimiter(dashboard.count)
        - if @show_trends
          = line_chart dashboard.data, dashboard_chartjs_opts
  = link_to new_bot_dashboard_path(@bot) do
    .stat.col-sm-6.col-md-3.new-dashboard{class: @group_by}
      %h3.text-center
        +
      %h4.text-center
        New Custom Dashboard

