.secondary-menu.row
  .col-md-5.col-sm-3.col-xs-6
    = link_to bot_dashboards_path(@bot), class: 'breadcrumb' do
      %h2 All Metrics
    %span.breadcrumb-separator
      \/
    %h2 New Dashboard

.container-fluid.graph-container
  .graph.row
    .col-md-6.col-sm-6.col-xs-6.graph-container
      = simple_form_for [@bot, @dashboard], url: bot_dashboards_path, method: :post do |f|
        = f.input :name, label: "Custom Dashboard Name", required: true
        = f.input :regex, label: "Message Matching Criteria (protip: you can use a regex)", required: true
        %p.disclaimer
          For e.g. To track all the times your bot responded with "I did not understand that", set
          the Message Matching Criteria to
          %strong
            I did not understand that
        = f.submit "Create New Dashboard"

