.secondary-menu.row
  .col-md-3.col-sm-3.col-xs-6
    = link_to bot_path(@bot), class: 'breadcrumb' do
      %h2 All Metrics
    %span.breadcrumb-separator
      \/
    %h2 New Users
  .col-md-9.col-sm-9.col-xs-6
    #report-range.pull-right
      = icon('calendar')
      %span
      %b.caret
    .btn-group.time-segmented-controls.pull-right
      = link_to 'Day', users_bot_dashboards_path(@bot), class: (@group_by == 'day' ? 'btn active' : 'btn'), data: { group: 'day' }
      = link_to 'Week', users_bot_dashboards_path(@bot, group_by: 'week'), class: (@group_by == 'week' ? 'btn active' : 'btn'), data: { group: 'week' }
      = link_to 'Month', users_bot_dashboards_path(@bot, group_by: 'month'), class: (@group_by == 'month' ? 'btn active' : 'btn'), data: { group: 'month' }

.container-fluid.graph-container
  .graph.row
    .col-md-12.col-sm-12.col-xs-12.graph-container
      = line_chart @users, solo_chartjs_opts

      = render partial: "dashboards/providers/users_#{@bot.provider}"
      = will_paginate @tableized, renderer: BootstrapPagination::Rails

- content_for :page_scripts do
  :javascript
    App.page = new App.BotsDetail(#{@start.to_json}, #{@end.to_json});
    App.page.run();


