.secondary-menu.row
  .col-md-3.col-sm-3.col-xs-6
    %h2 New Users
  .col-md-9.col-sm-9.col-xs-6
    #report-range.pull-right
      %i.fa.fa-calendar
      %span
      %b.caret
    .btn-group.time-segmented-controls.pull-right
      = link_to 'Day', users_bot_dashboards_path(@bot), class: (@group_by == 'day' ? 'btn active' : 'btn'), data: { group: 'day' }
      = link_to 'Week', users_bot_dashboards_path(@bot, group_by: 'week'), class: (@group_by == 'week' ? 'btn active' : 'btn'), data: { group: 'week' }
      = link_to 'Month', users_bot_dashboards_path(@bot, group_by: 'month'), class: (@group_by == 'month' ? 'btn active' : 'btn'), data: { group: 'month' }

.container-fluid.graph-container
  .graph.row
    .col-md-12.col-sm-12.col-xs-12.graph-container
      = line_chart @users, solo_chartjs_opts

      %table.table.table-striped.tableized
        %thead
          %tr
            %th Full Name
            %th Nickname
            %th Email
            %th Team
            %th Created
        %tbody
          - @tableized.each do |u|
            - _bi = u.bot_instance
            - _url = _bi.instance_attributes['team_url']
            - _name = _bi.instance_attributes['team_name']
            %tr{class: u.id}
              %td= u.user_attributes['full_name']
              %td= u.user_attributes['nickname']
              %td= u.user_attributes['email']
              %td= _name
              %td= "#{time_ago_in_words(_bi.created_at)} ago"
      = will_paginate @tableized, renderer: BootstrapPagination::Rails

- content_for :page_scripts do
  :javascript
    App.page = new App.BotsDetail(#{@start.to_json}, #{@end.to_json});
    App.page.run();


