.row
  .col-md-5
    - if @bot.provider == 'slack'
      %br
      .api-instructions
        Use the Botmetrics API with Node.JS, Ruby, or https to start tracking your Slack Bots:
        = render partial: 'bots/api_slack'
      %hr
      You can also track a Single Bot by entering the Bot Token below:

    = simple_form_for [@bot, @instance], url: bot_instances_path, as: :instance, method: :post do |f|
      - if @bot.provider == 'kik'
        = f.input :uid, label: "Your Bot's Username", required: true
      = f.input :token, label: new_instance_token_label(@bot), required: true
      %p.disclaimer= new_instance_disclaimer(@bot)
      = f.submit new_instance_submit_text(@bot)

    
  .col-md-7.onboarding-help
    = new_instance_onboarding_image(@bot)
    = raw(new_instance_tips(@bot))
