.row
  .col-md-4.col-md-offset-4
    - if @bot.instances.count == 0
      %h3.text-center Let's setup the first instance of your bot
    - else
      %h3.text-center Setup Another Instance of your Bot
    = simple_form_for [@team, @bot, @instance], url: team_bot_instances_path, as: :instance, method: :post do |f|
      = f.input :token, label: "Your Bot's Token", required: true
      = f.input :provider, collection: {Slack: 'slack'}, label: 'What Bot Is It?', selected: 'slack'
      %p.disclaimer
        Support for Kik, Facebook, Telegram and Skype Bots are coming soon! Ping us at
        = link_to 'hello@getbotmetrics.com', 'mailto:hello@getbotmetrics.com'
        for more info.
      = f.submit 'Set Up An Instance of your Bot'
