.row
  .col-md-6.col-md-offset-3
    %h3.text-center= setting_up_header(@bot)
    %p.intro= setting_up_intro(@bot)
    .progress.progress-striped.active
      .progress-bar.progress-bar-success{role:"progressbar", 'aria-valuenow' => "50", 'aria-valuemin' => "0", 'aria-valuemax' => "100", style: "width: 50%"}

    .setup-done
      - if @bot.provider == 'slack'
        %p.status
          We've setup metrics collection for your bot. You can go to your dashboard to start analyzing how your bot is doing.
        %p.api
          You can use the API with curl, Ruby or Node.JS:
        = render partial: 'bots/api_slack'
      - else
        %p.status
          %strong Next:
          Set up tracking in your bot application by adding this snippet of code:

        = render partial: 'bots/api_others'

      .go-to-dashboard.text-center
        = link_to bot_path(@bot), class: 'btn btn-lg btn-success' do
          Go To your Bot Dashboard
          %i.fa.fa-arrow-right

      - if @bot.provider == 'slack'
        .create-new-instance.text-center
          = link_to 'Create another instance', new_bot_instance_path(@bot), class: 'btn btn-lg btn-success'
      - elsif @bot.provider == 'facebook'
        .update-instance.text-center
          = link_to 'Update Page Access Token', edit_bot_instance_path(@bot, @instance), class: 'btn btn-lg btn-success'

- content_for :page_scripts do
  :javascript
    App.page = new App.BotInstancesSetup(#{@bot.uid.to_json}, #{@instance.id.to_json}, #{@bot.provider.to_json}, #{Pusher.key.to_json});
    App.page.run();
