.secondary-menu.row
  .col-sm-12
    = link_to bot_notifications_path(@bot), class: 'breadcrumb' do
      %h2 All Notifications
    %span.breadcrumb-separator
      \/
    %h2 New Notification
    %span.breadcrumb-separator
      \/
    %h2 Step 3

.row.steps
  .col-sm-12
    %h3 Step 3: Schedule Your Notification
    %p Would you like the notification to be sent now or at a later date?

.container-fluid.notifications-container
  .row
    .col-sm-8.col-sm-offset-2
      - if @bot.notifications.count == 0
        .no-notifications
          %p
            With notifications you can send product announcements / maintenance window announcments and so on
            to your users. Notifications will only be sent to users
            %strong
              who have interacted with your bot at least once.
          %p
            - _time = 2.days.from_now
            You can also schedule your notification to be sent at a specific time. For e.g. if you schedule your message to be sent at
            = _time.strftime("%B %d, %Y 9:00AM")
            , the notification will be sent
            %strong
              at 9AM in each user's timezone
            on
            = _time.strftime("%B %e")

  = simple_form_for @notification, url: bot_new_notification_index_path(@bot), method: :post  do |f|
    .row
      .col-sm-8.col-sm-offset-2

        = f.input :content, input_html: { rows: 10, readonly: true }, label: 'Message'

        .row
          .col-sm-12
            .radio
              = label_tag do
                = radio_button_tag :send, :now, :checked
                %strong ASAP
                Your message will be sent to customers within 30 minutes of matching your criteria.

            %hr

            .radio
              = label_tag do
                = radio_button_tag :send, :later
                %strong SCHEDULED
                Improve your conversion rates by delaying messages until the indicated time.

            .scheduler-options
              = f.input :scheduled_at, label: false, placeholder: 'Select a Date Time', input_html: { disabled: :disabled }

              = link_to '#', class: 'clear-scheduler' do
                %i.fa.fa-times
                Clear Scheduling Options

    .steps-navigation
      = link_to 'Previous', step_2_bot_new_notification_index_path(@bot, params.slice(:notification)), class: 'btn btn-lg btn-warning'
      &nbsp;
      = f.submit 'Send', class: 'btn btn-primary'

- content_for :page_scripts do
  :javascript
    App.page = new App.NotificationScheduler();
    App.page.run();
