%table.table.table-striped.tableized
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Gender
      %th Timezone
      %th Signed Up
      %th Bot Interactions
      %th Last Interacted with Bot
  %tbody
    - tableized.each do |u|
      %tr{class: u.id}
        %td= u.first_name
        %td= u.last_name
        %td= u.gender
        %td= ActiveSupport::TimeZone[u.timezone] if u.timezone.present?
        %td= "#{time_ago_in_words(u.created_at)} ago"
        %td= u.events_count
        %td= u.last_event_at.present? ? "#{time_ago_in_words(u.last_event_at)} ago" : 'no messages yet'


