%table.table.table-striped.tableized
  %thead
    %tr
      %th
      %th First Name
      %th Last Name
      %th Signed Up
      %th Last Interacted with Bot
  %tbody
    - tableized.each do |u|
      %tr{class: u.id}
        %td= image_tag(u.profile_image_url, width: '55', 'height': '55', class: 'img img-circle')
        %td= u.first_name
        %td= u.last_name
        %td= "#{time_ago_in_words(u.created_at)} ago"
        %td= u.last_interacted_with_bot_at.present? ? "#{time_ago_in_words(u.last_interacted_with_bot_at)} ago" : 'no messages yet'
