%table.table.table-striped.tableized
  %thead
    %tr
      %th
      %th First Name
      %th Last Name
      %th Gender
      %th Timezone
      %th Referrer
      %th Signed Up
  %tbody
    - tableized.each do |u|
      %tr{class: u.id}
        %td= image_tag(u.profile_image_url, width: '55', 'height': '55', class: 'img img-circle')
        %td= u.first_name
        %td= u.last_name
        %td= u.gender
        %td= ActiveSupport::TimeZone[u.timezone] if u.timezone.present?
        %td= u.ref
        %td= "#{time_ago_in_words(u.created_at)} ago"
