%table.table.table-striped.tableized
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Gender
      %th Team
      %th Bot Interactions
      %th Last Interacted with Bot
      %th Created
  %tbody
    - @tableized.each do |u|
      - _bi = u.bot_instance
      - _name = _bi.instance_attributes['name']
      %tr{class: u.id}
        %td= u.user_attributes['first_name']
        %td= u.user_attributes['last_name']
        %td= u.user_attributes['gender']
        %td= _name
        %td= u.bot_interaction_count.present? ? u.bot_interaction_count : '-'
        %td= u.last_interacted_with_bot_at.present? ? "#{time_ago_in_words(bot_user.last_interacted_with_bot_at)} ago" : '-'
        %td= "#{time_ago_in_words(_bi.created_at)} ago"
