!!! 5
%html
  %head
    %title
      Bot Metrics
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false
    = favicon_link_tag 'favicon.ico', rel: 'shortcut icon'

    %script{src:'//use.typekit.net/zwl2vnb.js'}
    :javascript
      try{Typekit.load();}catch(e){}
    = csrf_meta_tags
    = render partial: 'facebook'

  %body{class: body_classes(yield :body_classes)}
    = render partial: 'layouts/flash', locals: { flash: flash }
    - if @bot.present? && @bot.persisted?
      .row.main
        .sidebar-section
          .dropdown
            %button.header-button.btn.btn-outline.dropdown-toggle{'data-toggle' => 'dropdown'}
              %h3.bot-name= truncate(@bot.name, length: 20)
              %span.caret
            %ul.dropdown-menu.dropdown-menu-left{role: 'menu', "data-no-turbolink" => true}
              - if (bots = current_user.bots.where("bots.uid <> ?", @bot.uid)).present?
                - bots.each do |b|
                  %li{role: 'presentation'}
                    = link_to b.name, bot_path(b)
                %li.divider{role: 'separator'}
              %li{role: 'presentation'}
                = link_to '#', data: {toggle: "modal", target: "#new-bot-modal" } do
                  = icon('plus')
                  Add Another Bot
          %ul.menu.nav
            %li
              = link_to bot_path(@bot), class: menu_class('metrics') do
                = icon('line-chart')
                Metrics
            %li
              = link_to bot_notifications_path(@bot), class: menu_class('notifications') do
                = icon('comment')
                Notifications
            %li
              = link_to bot_analytics_path(@bot), class: menu_class('analyze') do
                = icon('pie-chart')
                Analyze
          %ul.menu.footer
            %li
              = link_to edit_bot_path(@bot), class: menu_class('bot-settings') do
                = icon('cog')
                Settings
            %li
              = link_to user_path(current_user, bot_id: @bot.to_param), class: menu_class('my-profile') do
                = icon('user')
                My Profile
            %li
              = link_to destroy_user_session_path do
                = icon('power-off')
                Sign Out

    .col-md-12.content-container
      = yield

    #new-bot-modal.modal.fade
      .modal-dialog{role: 'document'}
        .modal-content
          .modal-header
            %button.close{type:"button",  'data-dismiss' => "modal", 'aria-label' => "Close"}
              %span{'aria-hidden' => "true"}
                &times;
            %h4.modal-title#myModalLabel
              Create a New Bot
          .modal-body
            = simple_form_for current_user.bots.new, url: bots_path, method: :post do |f|
              = f.input :name, label: "Your Bot's Name", required: true
              = f.submit 'Start Collecting Metrics'

    = render partial: 'ga'
    = render partial: 'mixpanel'
    = yield :page_scripts
    = yield :charts_js
