%html
  %head
    %title
      Bot Metrics
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.ico', rel: 'shortcut icon'
    %meta{name: 'description', content: 'The best tool for bot makers to measure growth and understand their customers. With custom dsahboards, detailed segmentation and personalized notifications botmetrics is how leading bot makers build sucessful bots.'}

    %script{src:'//use.typekit.net/zwl2vnb.js'}
    :javascript
      try{Typekit.load();}catch(e){}
    = csrf_meta_tags
    = render partial: 'facebook'

  %body{class: body_classes(yield :body_classes)}
    = render partial: 'layouts/flash', locals: { flash: flash }
    = yield

    = render partial: 'ga'
    = render partial: 'mixpanel'
    = render partial: 'leadin'
    = render partial: 'olark'
    = yield :page_scripts
